<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PRAKTIKA2._3.Properties.Settings.KIRYAConnectionString"
            connectionString="Data Source=ZXCQQ;Initial Catalog=KIRYA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PRAKTIKA2._3.Properties.Settings.Praktik2ConnectionString"
            connectionString="Data Source=ZXCQQ;Initial Catalog=Praktik2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>